.TopMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    border-bottom: 1px solid black;
    background: linear-gradient(to right, #77a, #aaf);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
.TopMenu div {
    height: 80%;
    text-align: center;
    border: 1px solid black;
    background-color: #cce;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    border-end-end-radius: 10% 20%;
}
.TopMenu div a {
    display: flex;
    font-size: 24px;
    text-decoration: none;
    color: #113;
    font-weight: bold;
}

@media only screen and (max-width: 450px) {
    .TopMenu div a {
        font-size: 20px;
    }
}