.LinesPage {
    width: 80vw;
    margin: 20px auto;
    padding: 20px 10px;
    background: linear-gradient(to right, #77a, #aaf);
    border-end-end-radius: 10% 20%;
    border: 1px solid black;
}

.LinesPage h1 {
    line-height: 2;
    margin-left: 2vw;
}

.LinesPage_Block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}