.BookLone h1 {
    margin-left: 2vw;
}
.BookLone div {
    width: 90vw;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
}
.buttonDel, .buttonSave {
    margin-top: 20px;
    width: 150px;
    min-height: 100%;
    background-color: firebrick;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.buttonSave {
    background-color: darkgreen;
    margin-right: 10px;
    transition: background-color,color .3s ease-in;
}
.buttonDiv {
    justify-content: space-between;
}
.BookLone div p {
    margin: 5px 0;
}
.BookLone div input, .BookLone div select {
    outline: none;
    margin-left: 10px;
    padding: 0 5px;
    text-align: center;
    border: 1px solid #ccc
}
.started_at {
    width: 50px;
}
.BookLone img {
    width: 50vw;
    border: 1px solid black;
    margin-top: 10px;
    box-sizing: border-box;
}

.grayBackground {
    background-color: #ccc;
    color: black;
}