.armor, .melee {
    position: absolute;
    z-index: 2;
}

.SteelArmorStyle, .LeatherArmorStyle  {
    width: 160px;
    left: 79px;
}

.SteelArmorStyle {
    top: 48px;
}

.LeatherArmorStyle {
    left: 80px;
    top: 50px;
}

.NanoVestStyle {
    top: 53px;
    width: 116px;
    left: 100px;
}

.NanoMatrixStyle {
    top: 55px;
    width: 138px;
    left: 87px;
}

.FurStyle {
    width: 270px;
    height: 370px;
    top: 20px;
    left: 25px;
}

.ScalesStyle {
    width: 310px;
    height: 370px;
    top: 35px;
    left: 7px;
}

.DefensiveCharmsStyle, .DefensiveRunesStyle {
    top: -40px;
    width: 82px;
    left: 116px;
}

.DefensiveCharmsStyle {
    z-index: 4;
}

.GuardianAuraStyle, .GuardianFieldStyle {
    top: 42px;
    width: 190px;
    left: 65px;
}

.TitanSkinRitualStyle {
    top: 0;
    width: 440px;
    left: -58px;
}

.NothingStyle, .NoWeaponStyle {
    position: absolute;
    display: none;
    z-index: 0;
}

.SwordStyle, .GreataxeStyle {
    z-index: 4;
}

.SwordStyle {
    left: 65px;
    width: 180px;
    top: 125px;
    transform: rotate(80deg);
}

.GreataxeStyle {
    left: -10px;
    top: 75px;
    transform: rotate(40deg);
}

.PowerFistStyle {
    width: 114px;
    top: 14px;
    left: 33px;
}

.EnergyWhipStyle {
    width: 250px;
    transform: rotate(20deg);
    top: 160px;
    left: -8px;
}