.armor, .melee, .flight, .special, .range, .skull {
    position: absolute;
    z-index: 2;
}

.SteelArmorStyle, .LeatherArmorStyle  {
    width: 160px;
    left: 79px;
}

.SteelArmorStyle {
    top: 48px;
}

.LeatherArmorStyle {
    left: 80px;
    top: 50px;
}

.NanoVestStyle {
    top: 53px;
    width: 116px;
    left: 100px;
}

.NanoMatrixStyle {
    top: 55px;
    width: 138px;
    left: 87px;
}

.FurStyle {
    width: 270px;
    height: 370px;
    top: 20px;
    left: 25px;
}

.ScalesStyle {
    width: 310px;
    height: 370px;
    top: 35px;
    left: 7px;
}

.DefensiveCharmsStyle {
    top: -40px;
    width: 82px;
    left: 116px;
}

.DefensiveRunesStyle {
    width: 90px;
    z-index: 4;
    top: -30px;
    left: 114px;
}

.DefensiveCharmsStyle {
    z-index: 4;
}

.GuardianAuraStyle, .GuardianFieldStyle {
    top: 39px;
    width: 194px;
    left: 63px;
}

.TitanSkinRitualStyle {
    top: 0;
    width: 440px;
    left: -58px;
}

.NothingStyle, .NoWeaponStyle, .NoFlightStyle, .NothingatallStyle {
    position: absolute;
    display: none;
    z-index: 0;
}

.SwordStyle, .GreataxeStyle, .RunicSwordStyle {
    z-index: 4;
}

.SwordStyle {
    left: 65px;
    width: 180px;
    top: 125px;
    transform: rotate(80deg);
}

.GreataxeStyle {
    left: -10px;
    top: 75px;
    transform: rotate(40deg);
}

.PowerFistStyle {
    width: 114px;
    top: 14px;
    left: 33px;
}

.EnergyWhipStyle {
    width: 250px;
    transform: rotate(20deg);
    top: 160px;
    left: -8px;
}

.HornsStyle {
    z-index: 4;
    width: 100px;
    top: -10px;
    left: 110px;
}

.LeftClawStyle, .RightClawStyle {
    width: 65px;
    top: 188px;
}

.LeftClawStyle {
    left: 49px;
    transform: rotate(340deg);
}

.RightClawStyle {
    left: 207px;
    transform: rotate(20deg);
}

.TailwithStingStyle {
    z-index: 0;
    width: 300px;
    top: 120px;
    left: 60px;
}

.PsiBladesLeftHandStyle, .PsiBladesRightHandStyle {
    width: 110px;
    top: 163px;
}

.PsiBladesLeftHandStyle {
    left: 42px;
}

.PsiBladesRightHandStyle {
    left: 167px;
}

.RunicSwordStyle {
    left: -8px;
    width: 360px;
    top: 67px;
    transform: rotate(105deg);
}

.ReactiveFeetStyle, .LevitationStyle {
    bottom: -20px;
    width: 210px;
}

.WingsStyle {
    top: -70px;
}

.FlyingCharmsStyle {
    width: 180px;
    top: -10px;
}

.HealingPotionStyle, .AcidBombStyle {
    width: 60px;
    top: 150px;
}

.HealingPotionStyle {
    left: 100px;
}

.AcidBombStyle {
    left: 160px;
}

.GolemStyle {
    width: 300px;
    z-index: 0;
    left: -120px;
    bottom: 0px;
}

.TeleportStyle {
    z-index: 0;
    width: 400px;
    top: 30px;
}

.IntuitionStyle {
    width: 100px;
    top: -5px;
    left: 108px;
    z-index: 4;
}

.TelekinesisStyle {
    z-index: 1;
    width: 160px;
    top: 150px;
}

.AcidBreathingMouthStyle {
    width: 80px;
    left: 120px;
    z-index: 4;
    top: 35px;
}

.TwoExtraPincersStyle {
    z-index: 1;
    width: 390px;
    top: -100px;
}

.MultistrikeStyle {
    z-index: 0;
    width: 420px;
    top: 0px;
    left: -60px;
}

.BowStyle, .CrossbowStyle {
    z-index: 0;
}

.BowStyle {
    width: 250px;
    top: -25px;
    left: 15px;
}

.CrossbowStyle {
    top: -60px;
    left: 0px;
}

.LaserStyle {
    width: 120px;
    left: 180px;
    top: 135px;
    transform: rotate(70deg);
}

.RocketStyle {
    width: 100px;
    top: -10px;
    left: 60px;
}

.CyborgSkullStyle {
    z-index: 5;
    width: 70px;
    top: -1px;
    left: 125px;
    transform: scaleX(-1);
}

.MagicBoltStyle {
    width: 350px;
    transform: rotate(270deg);
    top: 25px;
    left: 10px;
}

.FireballStyle {
    width: 300px;
    transform: rotate(250deg);
    top: 50px;
    left: 10px;
}

.PsiLightningLeftHandStyle, .PsiLightningRightHandStyle {
    top: 8px;
}

.PsiLightningLeftHandStyle {
    transform: rotate(350deg);
    left: -70px;
}

.PsiLightningRightHandStyle {
    transform: rotate(10deg);
    left: 87px;
}

.ChakramStyle {
    top: 183px;
    left: 147px;
    transform: rotate(340deg);
}