.MemberPage {
    display: flex;
    position: relative;
    min-width: 520px;
    min-height: 350px;
    border: 1px solid black;
    padding: 20px;
}

.MemberPage_ImagesBlock {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.MemberPage_ImagesBlock_StandartBody {
    position: relative;
    width: 200px;
    z-index: 1;
}

.MemberPage_ImagesBlock_StandartHead, 
.MemberPage_ImagesBlock_StandartLeftHand, 
.MemberPage_ImagesBlock_StandartRightHand {
    position: absolute;
    z-index: 3;
}

.MemberPage_ImagesBlock_StandartHead {
    left: 125px;
    top: -2px;
    width: 68px;
}

.MemberPage_ImagesBlock_StandartLeftHand {
    left: 53px;
    top: 181px;
    width: 85px;
    z-index: 5;
}

.MemberPage_ImagesBlock_StandartRightHand {
    left: 181px;
    top: 181px;
    width: 85px;
}