.Squad {
    display: flex;
    flex-direction: row;
}

.SquadModule {
    width: 25vw;
    height: 45vw;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.SquadModule_Header {
    font-size: 20px;
    font-weight: bold;
}

.SquadModule_Line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SquadModule_Members {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.SquadModule_MemberCard {
    border: 1px solid black;
}

.SquadModule_MemberCard_Image {
    width: 7vw;
    height: 7vw;
}