.Squad {
    display: flex;
    flex-direction: row;
}

.SquadModule {
    width: 100%;
    /* height: 45vw; */
    height: 482px;
    border: 1px solid blue;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.SquadModule_Header {
    font-size: 20px;
    font-weight: bold;
}

.SquadModule_Line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SquadModule_Members {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.SquadModule_MemberCard {
    border: 1px solid black;
}

.SquadModule_MemberCard_Image {
    /* width: 7vw; */
    width: 73px;
}

.Squad_Members {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 75vw; */
    width: 520px;
    min-height: calc(100vh - 150px);
    max-height: calc(100vh - 150px);
    /* border: 1px solid black; */
}

.Squad_Members_Slider {
    width: 520px;
    overflow: hidden;
}

.Squad_Members_Slider_SliderLine {
    /* width: 1040px; */
    position: relative;
    display: flex;
    transition: all ease 1s;
}

.Squad_Members_Navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Squad_Additional {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 5;
    /* width: 25vw; */
    width: 265px;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 785px) {
    .Squad_Members {
        margin-left: 0;
    }
}

@media screen and (min-width: 787px) {
    .Squad_Members {
        margin-left: calc(50vw - 392px);
    }
}