.VerticalLine {
    width: 1px;
    height: 90%;
}

.VerticalLines_Block {
    flex-direction: row;
}

.HorizontalLines_Block {
    flex-direction: column;
}

.HorizontalLine {
    width: 90%;
    height: 1px;
}

.ComplexPart {
    position: relative;
    display: flex;
    flex-direction: column;
}

.VerticalLines_Block, .HorizontalLines_Block {
    width: 200px;
    height: 200px;
    display: flex;
    background-color: rgba(128,128,128,0.5);
    justify-content: space-around;
    border-radius: 50%;
    align-items: center;
}

.HorizontalLine, .VerticalLine {
    border: 1px solid black;
    z-index: 3;
}

.InnerCircle {
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
}

.InnerCircle__OnLow {
    top: 75px;
    left: 75px;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.5);
}

.InnerCircle__OnHigh {
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
}