.ClassCardHeader {
    display: flex;
    flex-direction: row;
    width: 520px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.ClassCardHeader_Icon {
    width: 125px;
    height: 125px;
}

.ClassCardHeader_Text {
    display: flex;
    margin-top: 5px;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.ClassCardHeader_Text_Header {
    font-size: 18px;
    line-height: 36px;
    font-weight: 800;
    flex: 1;
}

.ClassCardHeader_Text_Mass {
    flex: 2;
    margin: 5px;
    text-indent: 10px;
}