.HiringCard {
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 1);
    width: 520px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.HiringCard_Header {
    font-size: 20px;
    font-weight: bold;
}

.HiringCard_Buttons {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.HiringCard_Buttons > button {
    width: 40%;
}