.LoneAbility {
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: center;
    align-items: center;
}

.LoneAbility_Title {
    font-size: 15px;
}

.LoneAbility_Image {
    width: 100px;
    height: 100px;
}