.BooksPage {
    width: 80vw;
    margin: 20px auto;
    padding: 20px 10px;
    border: 1px solid black;
    background: linear-gradient(to right, #77a, #aaf);
    border-end-end-radius: 10% 20%;
}

.BooksPage_Header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.BooksPage h1{
    line-height: 2;
    margin-left: 2vw;
}
.BooksPage>div {
    width: 80%;
    margin: 0 auto;
    background-color: #cce;
}
.BooksPage p {
    margin: 5px;
}
.BooksPage button {
    margin: 20px;
}

@media only screen and (max-width: 450px) {
    .mobileScroll {
        overflow-x: scroll;
    }
}