.Squad {
    display: flex;
    flex-direction: row;
}

.SquadPage {
    display: flex;
    border: 1px solid black;
    width: 75%;
    min-height: calc(100vh - 150px);
}

.SquadModule {
    width: 25%;
    height: 45vw;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.SquadModule_Header {
    font-size: 20px;
    font-weight: bold;
}

.SquadModule_Line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SquadModule_Members {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.SquadModule_MemberCard {
    border: 1px solid black;
}

.SquadModule_MemberCard_Image {
    width: 7vw;
    height: 7vw;
}

.SquadPage_Slider {
    width: 520px;
    /* height: 520px; */
    /* border: 1px solid black; */
    overflow: hidden;
}

.SquadPage_SliderLine {
    width: 1040px;
    position: relative;
    /* height: 520px; */
    display: flex;
    /* left: 0; */
    transition: all ease 1s;
}

.SquadPage_WizardRiddle {
    display: flex;
    flex-direction: column;
}

.SquadPage_WizardRiddle_Text {
    text-align: center;
    color: white;
}

.SquadPage_WizardRiddle_Buttons {
    display: flex;
    justify-content: space-around;
}

.SquadPage_WizardRiddle_Buttons_Button {
    width: 35%;
}

.SquadPage_ClassesBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.SquadPage_ClassesBlock_ClassCard {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.SquadPage_ClassesBlock_ClassCard_PriceBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.SquadPage_ClassesBlock_ClassCard_PriceBlock_HireButton {
    width: 40%;
    font-size: 20px;
    margin-top: 0;
    line-height: 1;
}

.SquadPage_ClassesBlock_Shadow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 520px;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 425px; 
}

.SquadPage_ClassesBlock_ClassHeader {
    display: flex;
    flex-direction: row;
    width: 520px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.SquadPage_ClassesBlock_ClassHeader_Text {
    display: flex;
    margin-top: 5px;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.SquadPage_ClassesBlock_ClassHeader_Text_Header {
    font-size: 18px;
    line-height: 36px;
    font-weight: 800;
    flex: 1;
}

.SquadPage_ClassesBlock_ClassHeader_Text_Mass {
    flex: 2;
    margin: 5px;
    text-indent: 10px;
}

.SquadPage_ClassesBlock_ClassHeader_Icon {
    width: 125px;
    height: 125px;
}

.SquadPage_ClassesBlock_AbilitiesPool {
    display: flex;
    flex-direction: row;
    width: 520px;
    justify-content: space-around;
    border: 1px solid black;
    padding-bottom: 5px;
}

.SquadPage_ClassesBlock_AbilitiesPool_CategoryTitle {
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
    text-decoration: underline;
}

.SquadPage_ClassesBlock_AbilitiesPool_Ability {
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: center;
    align-items: center;
}

.SquadPage_ClassesBlock_AbilitiesPool_Ability_Description {
    font-size: 15px;
}

.SquadPage_ClassesBlock_AbilitiesPool_Ability_Image {
    width: 100px;
    height: 100px;
}

.SquadPage_HiringCard {
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 1);
    width: 520px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.SquadPage_HiringCard_Header {
    font-size: 20px;
    font-weight: bold;
}

.SquadPage_HiringCard_Buttons {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.SquadPage_HiringCard_Buttons > button {
    width: 40%;
}

.SquadPage_HiringCard_PossiblePerks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}