.BookInfo, .BookHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-left: 1px solid black;
    padding: 0;
    box-sizing: border-box;
}
.BookHeader div {
    border-top: 1px solid black;
}
.BookInfo div,.BookHeader div {
    width: 25%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BookInfo div p {
    text-align: center;
    font-size: 16px;
}
.BookHeader div p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

@media only screen and (max-width: 450px) {
    .BookInfo div,.BookHeader div {
        min-width: 200px;
    }
}