.AuthorsPage {
    width: 80vw;
    margin: 20px auto;
    padding-bottom: 20px;
    border: 1px solid black;
    background-color: #77a;
    border-end-end-radius: 10% 20%;
}
.AuthorsPage h1 {
    margin-left: 2vw;
}
.AuthorsPage>div {
    width: 80%;
    margin: 0 auto;
    background-color: #cce;
}
.buttonAdd {
    margin: 20px;
    width: 150px;
    background-color: darkgreen;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .buttonAdd {
        margin-top: 0;
    }
}