.AuthorsPage {
    width: 80vw;
    margin: 20px auto;
    padding: 20px 10px;
    border: 1px solid black;
    background: linear-gradient(to right, #77a, #aaf);
    border-end-end-radius: 10% 20%;
}
.AuthorsPage h1 {
    margin-left: 2vw;
}
.AuthorsPage>div {
    width: 80%;
    margin: 0 auto;
    background-color: #cce;
}
.AuthorsPage p {
    margin: 5px;
}
.AuthorsPage button {
    margin: 20px;
}