.AuthorInfo, .AuthorHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 0;
    box-sizing: border-box;
}
.AuthorHeader {
    border-top: 1px solid black;
}
.AuthorInfo div,.AuthorHeader div {
    width: 50%;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.AuthorInfo div p {
    text-align: center;
    font-size: 16px;
}
.AuthorHeader div p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}