.BookLone {
    width: 80vw;
    margin: 20px auto;
    padding-bottom: 20px;
    border: 1px solid black;
    background-color: #77a;
    border-end-end-radius: 10% 20%;
    position: relative;
}
.BookLone h1 {
    margin-left: 2vw;
}
.BookLone div {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}
.buttonDel, .buttonSave {
    margin-top: 20px;
    min-height: 100%;
    background-color: firebrick;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}
.buttonSave {
    background-color: darkgreen;
    transition: background-color,color .3s ease-in;
}
.BookLone div p {
    margin: 5px 0;
    font-weight: bold;
}
.BookLone div input, .BookLone div select {
    outline: none;
    margin-left: 10px;
    padding: 0 5px;
    text-align: center;
    border: 1px solid #ccc
}
.started_at {
    width: 50px;
}
.BookLone img {
    width: 50%;
    border: 1px solid black;
    margin-top: 10px;
    box-sizing: border-box;
}

.grayBackground {
    background-color: #ccc;
    color: black;
    cursor: default
}
.spanAddImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 90%;
}
.spanAddImage input {
    padding: 10px;
    margin: 10px;
    overflow-x: hidden;
}
.spanAddImage button {
    padding: 10px;
}
.errorInInput {
    border: 1px solid red
}

@media only screen and (min-width: 730px) {
    .buttonDiv {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 10%;
    }
}

@media only screen and (max-width: 730px) {
    .BookLone div {
        flex-wrap: wrap;
    }
    .buttonDiv {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: column;
        left: 10%;
    }
}

@media only screen and (max-width: 450px) {
    .BookLone, .BookLone input, .BookLone select, .BookLone button {
        font-size: 16px;
        min-height: 30px;
    }
}