@font-face {
  font-family: 'Nautilus';
  src: url('/src/fonts/Nautilus.otf');
}

body {
  margin: 0;
  font-family: 'Nautilus';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
